<%- include('./partials/header.ejs') %>
    <form action="" method="post" >


        <div>

            <div class="mb-3">

                <label for="first_name" class="form-label">First Name</label>
                <input type="text" class="form-control w-25" name="first_name" id="first_name"
                    aria-describedby="First Name">
                <div id="first_name_help" class="form-text">Please enter your First Name.</div>
            </div>
            <div class="mb-3">
                <label for="last_name" class="form-label">last Name</label>
                <input type="text" class="form-control w-25" id="last_name" name="last_name"
                    aria-describedby="Last Name">
                <div id="last_name_help" class="form-text">Please enter your Last Name.</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control w-25" name="email" id="email"
                    aria-describedby="email">
                <div id="email_help" class="form-text">Please enter your email.</div>
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="text" class="form-control w-25" name="phone" id="phone"
                    aria-describedby="phone">
                <div id="phone_help" class="form-text">Please enter your phone.</div>
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control w-25" name="address" id="address"
                    aria-describedby="address">
                <div id="address_help" class="form-text">Please enter your address.</div>
            </div>
            <div class="mb-3">
                <label for="notes" class="form-label">Notes</label>
                <input type="text" class="form-control w-25" name="notes" id="notes"
                    aria-describedby="notes">
                <div id="notes_help" class="form-text">Please enter your notes.</div>
            </div>
            <div class="mb-3">
                <label for="itemPurchased" class="form-label">Item Purchased</label>
                <input type="text" class="form-control w-25" name="itemPurchased" id="itemPurchased"
                    aria-describedby="itemPurchased">
                <div id="itemPurchased_help" class="form-text">Please enter item purchased.</div>
            </div>
            <div class="mb-3">
                <label for="quantity" class="form-label">Quantity</label>
                <input type="text" class="form-control w-25" name="quantity" id="quantity"
                    aria-describedby="quantity">
                <div id="quantity_help" class="form-text">Please enter your quantity.</div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="text" class="form-control w-25" name="price" id="price"
                    aria-describedby="price">
                <div id="price_help" class="form-text">Please enter your price.</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Information</button>


    </form>

    </div>
    </body>

    </html>